<div>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            Username: 
            <input type="text" formControlName="username" class="form-control">
        </div>
        <br>
        
        <div class="form-group">
            Password:
            <input type="password" formControlName="password" class="form-control">
        </div>
        <br>

        <div class="form-group">
            <button type="button">Purchase</button>
        </div>
    </form>

</div>
