

<div class="forma">
<form #f="ngForm" (ngSubmit)="onSubmitName(f)" class="was-validated">
    <div>
        <label for="first" class="colOne">First name: </label> 
        <div id="inputi" class="colTwo">
            <input type="text" 
                    name="first" 
                    class="form-control is-valid" 
                    ngModel
                    required
                    minlength="3"
                    #first="ngModel">
        </div>
    </div>

    <div>
        <label for="last" class="colOne">Last name: </label> 
        <div id="inputi" class="colTwo">
            <input type="text" 
                    name="last" 
                    class="form-control is-valid" 
                    ngModel 
                    required
                    minlength="4"
                    #last="ngModel">
        </div>
    </div>

    <div style="margin: 10px;">
        <button class="btn btn-light  btn-lg">Change name</button>
    </div>

                
</form>
</div>

<!-- <div class="forma">

    <form  #f="ngForm" (ngSubmit)="onSubmitPlace(f)" class="was-validated">
        <div>
                <label for="place" class="colOne">Place: </label>
                <div class="colTwo">
                    <input type="text"
                            name="place"
                            class="form-control is-valid" 
                            ngModel
                            required
                            #place="ngModel"
                            minlength="2">
                </div>
            </div>

            <div style="margin: 10px;">
                <button class="btn btn-light  btn-lg">Change place</button>
            </div>
    </form>

</div> -->



