<div style="text-align: left">

<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" [routerLink]="['dashboard']">Home</a>
    <a class="navbar-brand" [routerLink]="['profile']">My profile</a>
    <a class="navbar-brand" [routerLink]="['usersettings']"> User settings</a>
    <a class="navbar-brand" routerLink="/" (click)="logout()">Logout</a>
    
    <span  style="text-align: right;">
        Kalopsia
    </span>
</nav>



<router-outlet></router-outlet>
</div>