<div style="text-align: left">

<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" [routerLink]="['dashboard']"><i class="fas fa-home"></i> Home</a>
    <a class="navbar-brand" [routerLink]="['profile']"><i class="far fa-user-circle"></i> My profile</a>
    <a class="navbar-brand" [routerLink]="['usersettings']"><i class="fas fa-cogs"></i> User settings</a>
    <a class="navbar-brand" routerLink="/" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Logout</a>
    

</nav>



<router-outlet></router-outlet>
</div>