
<div style="text-align: left; margin-left: 3%;">
    <p id="fullname">
        {{ fullname }}
    </p>

    <div>
        <div *ngIf="uploadResponse && uploadResponse.status === 'error'">
      
        </div>

        <img [src]='imageUrl' style="width: 30%; height: 30%;" id="img" />
      
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      
            <input type="file"  
                    ngModel   
                    #image="ngModel"                               
                    (change)='imageToUpload($event.target.files)'
                    accept="image/*"                     
            >

            <button type="submit" class="btn btn-danger">Upload</button>
        
        </form>


    </div>

    <div *ngFor="let item of images | async" class="gallery" id="gallery">

        <div class="mb-3 pics animation all 2">
            <img class="img-fluid" src="{{ item }}"" >
        </div>
    </div>

</div>
