

<div style="margin-left: 3%;">
    <p id="fullname">
        {{ fullname }}, {{ email }}
    </p>

    <div>
        <div *ngIf="uploadResponse && uploadResponse.status === 'error'">
      
        </div>

        <img [src]='imageUrl' style="width: 30%; height: 30%;" id="img" />
      
        <form  (ngSubmit)="onSubmit()">
      
            <input type="file"     
                    name="file"                         
                    (change)='imageToUpload($event.target.files)'
                    accept="image/*"                     
            >

          <!--  <button type="submit" class="btn btn-danger">Upload</button> -->
        
        </form>


    </div>

    <div *ngFor="let item of images" class="gallery" id="gallery">

        <div class="mb-3 pics animation all 2">
            <img class="img-fluid" src="{{ item }}" >
        </div>
    </div>

</div>
