<div >

    <div *ngFor="let item of posts" class="gallery" id="gallery">

            <figure class="mb-3 pics animation all 2">
                <img src='http://praksa.local/files/{{item.file}}' />
                <hr>
                <p class="text-center my-3">{{ item.name }}  
                    <button (click)='like(item)' id="like" >
                        Like
                    </button>

                    {{myColor}}
                </p>
            </figure>
    </div>

    <!-- [ngStyle]="{'backgorund-color': myColor}" -->
  
 </div>
