/* You can add global styles to this file, and also import other style files */

$myColor: white
$myBackground: black

body
    background-color: $myBackground
    color: $myColor
    text-align: center