
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">

    <a class="navbar-brand" routerLink="/"><span class="fas fa-home"></span> Home</a>
    <a class="navbar-brand" routerLink="/login"><i class="fas fa-sign-in-alt"></i> Log In</a>
    <a class="navbar-brand" routerLink="/register"><i class="fas fa-plus"></i> Register</a>

</nav>


<div style="margin: 5%"></div>

<div>
<div id="aaa" style="text-align: center">
    <h1>
    Welcome to {{ title }}!
    </h1>

    <p>
        <small class="text-muted">{{ description }}</small>
    </p>
</div>

<!-- 
<section class="ftco-section-2">
    <div class="photograhy">
        <div class="row no-gutters">
            <div class="col-md-4 ftco-animate">
                <a href="../../assets/img/fulls/06.jpg" 
                    class="photography-entry img image-popup d-flex justify-content-center align-items-center" 
                    style="background-image: url('../../assets/img/fulls/06.jpg');">
                    <div class="overlay"></div>
                    <div class="text text-center">
                         <h3>Work 01</h3>
                        <span class="tag">Model</span> -->
                    <!-- </div>
                </a>
            </div>
            <div class="col-md-4 ftco-animate">
                <a href="../../assets/img/fulls/06.jpg" 
                    class="photography-entry img image-popup d-flex justify-content-center align-items-center" 
                    style="background-image: url('../../assets/img/fulls/06.jpg');">
                    <div class="overlay"></div>
                    <div class="text text-center"> -->
                        <!-- <h3>Work 02</h3>
                        <span class="tag">Nature</span> -->
                    <!-- </div>
                </a>
            </div>
            <div class="col-md-4 ftco-animate">
                <a href="../../assets/img/fulls/06.jpg" 
                    class="photography-entry img image-popup d-flex justify-content-center align-items-center" 
                    style="background-image: url('../../assets/img/fulls/06.jpg');">
                    <div class="overlay"></div>
                    <div class="text text-center"> -->
                        <!-- <h3>Work 02</h3>
                        <span class="tag">Nature</span> -->
                    <!-- </div>
                </a>
            </div>
            
        </div>
    </div>
</section>  -->


<div class="g">
<div class="gallery">
    <a target="_blank" href=#>
        <img src="../../assets/img/fulls/06.jpg" alt="Cinque Terre" width="600" height="400">
    </a>
    <div class="desc">New social nework!</div>
</div>
  
<div class="gallery">
    <a target="_blank" href="#">
        <img src="../../assets/img/fulls/05.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc">See photos of other users</div>
</div>


  <div class="gallery">
    <a target="_blank" href="#">
      <img src="../../assets/img/fulls/02.jpg" alt="Forest" width="600" height="400">
    </a>
    <div class="desc">Post your photos</div>
  </div>
  
  <div class="gallery">
    <a target="_blank" href="#">
      <img src="../../assets/img/fulls/01.jpg" alt="Northern Lights" width="600" height="400">
    </a>
    <div class="desc">Say what photos you like</div>
  </div>
  

    <div class="gallery">
        <a target="_blank" href="#">
            <img src="../../assets/img/fulls/04.jpg" alt="Mountains" width="600" height="400">
        </a>
        <div class="desc">Comment photos</div>
    </div>


    <div class="gallery">
        <a target="_blank" href="#">
        <img src="../../assets/img/fulls/03.jpg" alt="Mountains" width="600" height="400">
        </a>
        <div class="desc">Enjoy!</div>
    </div>

    <div class="gallery">
            <a target="_blank" href="#">
            <img src="../../assets/img/fulls/07.jpg" alt="Mountains" width="600" height="400">
            </a>
            <div class="desc">Enjoy!</div>
        </div>

    </div>

<div>

    <router-outlet></router-outlet>
</div>


</div>

<p style="all: unset"></p>

<!-- <div>
<footer class="page-footer font-small mdb-color darken-3 pt-4" >

        <div class="footer-copyright text-center py-3">© 2019 Copyright: Ana i Kristina
        </div>
        
      
</footer>
</div> -->