<div>

    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
        <div  class="form-group">
            <div class="form-group row">
                <label for="first">First name: </label>
                <div class="col-sm-10">
                    <input name="first" ngModel required #first="ngModel">
                </div>
            </div>
        </div>
        
        <input name="last" ngModel>
        <button>Submit</button>
    </form>
        
        <p>First name value: {{ first.value }}</p>
        <p>First name valid: {{ first.valid }}</p>
        <p>Form value: {{ f.value | json }}</p>
        <p>Form valid: {{ f.valid }}</p>

</div>