<div>
    <div class="naslov">Register</div>

    <div class="forma">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="was-validated"  id="registerForm">

        <div>
            <label for="first" class="colOne">First name: </label>

            <div class="colTwo">
                <input type="text" 
                        name="first" 
                        class="form-control is-valid" 
                        ngModel 
                        required 
                        #first="ngModel"
                        minLength="5">
            </div>
        </div>

        <div>
            <label for="last" class="colOne">Last name: </label>
            <div class="colTwo">
                <input type="text" 
                        name="last" 
                        class="form-control is-valid" 
                        ngModel 
                        required 
                        #last="ngModel"
                        minLength="5">
            </div>
        </div>

        <div>
            <label for="email" class="colOne">Email: </label>
            <div class="colTwo">
                <input type="email" 
                        name="email" 
                        class="form-control is-valid" 
                        ngModel 
                        required 
                        #email="ngModel">
            </div>
        </div>

        <div>
            <label for="password" class="colOne">Password: </label>
            <div class="colTwo">
                <input type="password" 
                        name="password" 
                        class="form-control is-valid" 
                        ngModel 
                        required 
                        #password="ngModel"
                        minLength="4">
            </div>
        </div>


        <div class="button">
            <button class="btn btn-light" id="register">Register</button>
        </div>
    </form>
</div>

    <p>
        Have an account? <a routerLink="/login" >Log In</a>
    </p>

</div>