<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">

    <a class="navbar-brand" routerLink="/"><span class="fas fa-home"></span> Home</a>
    <a class="navbar-brand" routerLink="/login"><i class="fas fa-sign-in-alt"></i> Log In</a>
    <a class="navbar-brand" routerLink="/register"><i class="fas fa-plus"></i> Register</a>

</nav>

<div style="margin: 5%">

<h1  style="text-align: center">
Welcome to {{ title }}!
</h1>




<div>
    <div class="naslov"  style="text-align: center">Register</div>

    <div class="forma">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="was-validated"  id="registerForm">

        <div>
            <label for="first" class="colOne">First name: </label>

            <div class="colTwo">
                <input type="text" 
                        name="first" 
                        class="form-control is-valid" 
                        ngModel 
                        required 
                        #first="ngModel"
                        minLength="5">
            </div>
        </div>

        <div>
            <label for="last" class="colOne">Last name: </label>
            <div class="colTwo">
                <input type="text" 
                        name="last" 
                        class="form-control is-valid" 
                        ngModel 
                        required 
                        #last="ngModel"
                        minLength="5">
            </div>
        </div>

        <div>
            <label for="place" class="colOne">Place: </label>
            <div class="colTwo">
                <input type="text"
                        name="place"
                        class="form-control is-valid" 
                        ngModel
                        required
                        #place="ngModel"
                        minlength="2">
            </div>
        </div>

        <div>
            <label for="email" class="colOne">Email: </label>
            <div class="colTwo">
                <input type="email" 
                        name="email" 
                        class="form-control is-valid" 
                        ngModel 
                        required 
                        #email="ngModel">
            </div>
        </div>

        <div>
            <label for="password" class="colOne">Password: </label>
            <div class="colTwo">
                <input type="password" 
                        name="password" 
                        class="form-control is-valid" 
                        ngModel 
                        required 
                        #password="ngModel"
                        minLength="4">
            </div>
        </div>


        <div class="button">
            <button class="btn btn-secondary btn-lg" id="register">Register</button>
        </div>

    </form>
</div>
<br>
    <p  style="text-align: center">
        Have an account? <a routerLink="/login" class="btn btn-secondary btn-lg">Log In</a>
    </p>

</div>

</div>