div.forma
    margin: auto
    text-align: center

div.inputi
    position: relative
    float: left

div.button
    margin: 10px

div.registerForma
    margin-left: auto
    margin-right: auto
    text-align: left

div.colTwo
    margin: auto
    width: 40%

div.errorMessage
    color: red
    


.wrap-input100 
  width: 100%
  position: relative
  border-bottom: 2px solid #d9d9d9


.label-input100 
  font-family: Poppins-Regular
  font-size: 14px
  color: #333333
  line-height: 1.5
  padding-left: 7px


.input100 
  font-family: Poppins-Medium
  font-size: 16px
  color: #333333
  line-height: 1.2

  display: block
  width: 100%
  height: 55px
  background: transparent
  padding: 0 7px 0 43px
